
# Created by https://www.gitignore.io/api/keil
# Edit at https://www.gitignore.io/?templates=keil

### Keil ###
# something maybe need to add
# *.bat  # generate batch file
# output/project_name # uv project generate without file ext
# *.SRC # generate source file
# *.src

# Prerequisites
*.d
*.dep
# Object files
*.o
*.obj
*.OBJ
*.crf
*.map

# Listing Files
*.COD
*.cod
*.[Ii]
*.LST
*.lst
*.sct
*.MAP
*.axf
*.map
*.[Mm]51
*.[Mm]66
*.SCR
*.scr

# LINK output
*.ABS

# Libraries
*.lib
*.LIB


# uv output
*.lnp
*.build_log.htm
*.htm
*.HEX
*.hex

# WIN
.DS_Store

# Build Files
*._IA
*.__[Ii]
*._[Ii][Ii]

# project
*.uvgui.*
*.uvguix.*

*.Bak

# End of https://www.gitignore.io/api/keil
